/*Felicity Baccin 8937874*/
body{
   font: 16px Arial, sans-serif; 
    Width : 100%;
    max-width: 1200px;
    margin:  auto;
    padding: 20px;
}

h1, h2{ 
    color: rgb(0, 0, 0);
    font-variant: small-caps;
}


aside{
    float : right;
    Width : 25%;
    margin-right: 20px;
}
.morgan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}
ul li{
    list-style-type: none;
    line-height: 1.5;
}
ul > li > a {
    text-decoration: none;
    color: pink;

}
aside a:hover{
    color: rgb(228, 42, 228);
}

footer p{
    font-size: 14px;
    color :red;
}
main{
    float : left;
    Width : 70%;
    margin-bottom: 50px;
}

img.mainimg{
    border: 2px solid black;
    border-radius: 15px;

}
q{
    font-family: cursive;
    font-style:italic;
    font-size: larger;
}
footer{
    clear :both;
}
